@page "/location"

<div class="location">
    <div class="container-fluid">
        <h1 class="large fancy location-header">МЕСТОПОЛОЖЕНИЕ</h1>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-4">
                <p class="fancy medium location-details">Boyana Luxury Residence се намира в Южната част на София, на 20 минути от Национален дворец на културата и разполага с бърз изход към някои от главните артерии, като Околовръстен път и булевард „България”. Можете да стигнете до Летище София за 25 минути и до Бизнес парк Младост за 15 минути. В близост до затворения комплекс, на 12 минути, ще откриете България Мол, Билла, детски градини, училища, големи ресторанти и барове.</p>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-6">
                <Map></Map>
            </div>
        </div>
    </div>
</div>

@code {

}
