@typeparam TItem

<table class="table">
    <thead class="thead-dark">@TableHeader</thead>
    <tbody>
        @foreach(var item in Items)
        {            
            <tr>
                @RowTemplate(item)
            </tr>
        }
    </tbody>
</table>

@code {

    [Parameter]
    public RenderFragment TableHeader { get; set; }

    [Parameter]
    public RenderFragment<TItem> RowTemplate { get; set; }

    [Parameter]
    public IReadOnlyCollection<TItem> Items { get; set; }
}
