<footer>
    <div class="container">
        <div class="row footer-content">
            <div id="contacts" class="col-lg-4">
                <img class="builder-logo" src="https://investsofia.com/wp-content/uploads/2016/05/logo-invest-sofia-en-d.png" />
                <h4 class="medium fancy">Адрес</h4>
                <p class="medium fancy adress">
                    София 1574
                    <br />
                    ул. Някъде си 48Б
                </p>
                <p class="medium fancy telephone">
                    +35988993322
                    <br />
                    +02438214
                </p>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-12">
                        <p class="medium fancy">ИЗПРАТИ ЗАПИТВАНЕ</p>
                    </div>
                </div>
                <form id="inquiry-form" method="post">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input class="w-100 form-input" type="text" required placeholder="Име" />
                            </div>
                            <div class="form-group">
                                <input class="w-100 form-input" type="tel" required placeholder="Телефон" />
                            </div>
                            <div class="form-group">
                                <input class="w-100 form-input" type="email" required placeholder="E-mail" />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <textarea class="w-100 form-input" id="user-input" required form="inquiry-form" placeholder="Запитване"></textarea>
                            </div>
                            <div class="form-group">
                                <input class="w-100 form-input btn btn-info" type="submit" value="ИЗПРАТИ" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="copyright" class="fancy large">
        &copy Всички права запазени. 2021
    </div>
</footer>

@code {

}
