<nav class="navbar navbar-expand-lg text-right">
    <NavLink class="nav-link" href="">
        <div class="nav-item">
            <img class="nav-logo-image" src="https://www.blr.bg/img/logo.png" />
        </div>
    </NavLink>
    <div class="collapse navbar-collapse links">
        <div class="nav justify-content-end ml-auto">
            <NavLink class="nav-link" href="choose">
                <div class="nav-item" title="ИЗБЕРИ КЪЩА">
                    ИЗБЕРИ КЪЩА
                </div>
            </NavLink>
            <NavLink class="nav-link" href="location">
                <div class="nav-item" title="МЕСТОПОЛОЖЕНИЕ">
                    МЕСТОПОЛОЖЕНИЕ
                </div>
            </NavLink>
            <NavLink class="nav-link" href="about-project">
                <div class="nav-item" title="ЗА ПРОЕКТА">
                    ЗА ПРОЕКТА
                </div>
            </NavLink>
            <NavLink class="nav-link" href="gallery">
                <div class="nav-item" title="ГАЛЕРИЯ">
                    ГАЛЕРИЯ
                </div>
            </NavLink>
            <NavLink class="nav-link" href="about-us">
                <div class="nav-item" title="ЗА НАС">
                    ЗА НАС
                </div>
            </NavLink>
            <a class="nav-link" href="#contacts">
                <div class="nav-item" title="КОНТАКТИ">
                    КОНТАКТИ
                </div>
            </a>
        </div>
    </div>
</nav>